.navbar {
    background: var(--blue-50);
    transition: all 0.2s ease-in-out;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-float {
    position: relative;
    padding: 25px 15px;
    border-bottom: 1px solid var(--text-100);
}

.navbar-fixed {
    position: fixed;
    top: 0;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--blue-700);
}

.navbar img {
    transition: all 0.5s ease-in-out;
}

.navbar-float img {
    border-radius: 5px;
    width: 5rem;
    height: 5rem;
}

.navbar-fixed img {
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
}