.clock {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.clock__display {
  height: 160px;
  position: relative;
  width: 160px;
}

.clock__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.clock__amount {
  font-size: 3.75rem;
}

.clock__unit {
  font-size: .75rem;
}

.circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0, 1.7);
}

.form {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.btn,
.form__field {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem .5rem;
}

.form__field {
  flex-shrink: 1;
}

.btn {
  background-color: #e91e63;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  flex-shrink: 1;
}

.message {
  margin: 0 auto 1rem;
  text-align: center;
}

.message--error {
  background-color: #e91e63;
  color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
}
