@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    /*variable declaration*/
    --font-color: #3b3b3b;
    --bg-color-100: #dddddd;
    --bg-color-200: #c6c6c6;
    /* typography colors */
    --text-100: #979DAC;
    --text-200: #7D8597;
    --text-300: #5C677D;
    --text-400: #33415C;
    --text-info: #023E7D;
    --text-warning: #FFAC81;
    --text-error: #D81159;
    /*material theme variables - primary*/
    --primary-light: rgba(76, 224, 179, 1);
    --primary-main: rgba(34, 191, 144, 1);
    --primary-dark: rgba(21, 121, 91, 1);
    /*material theme variables - secondary*/
    --secondary-light: rgba(237, 106, 94, 1);
    --secondary-main: rgba(237, 102, 89, 1);
    --secondary-dark: rgba(212, 77, 64, 1);
    /*material theme variables - error*/
    --error-light: rgba(240, 52, 122, 1);
    --error-main: rgba(184, 15, 79, 1);
    --error-dark: rgba(133, 11, 57, 1);
    /*blue*/
    --blue-50: #F2F8FB;
    --blue-100: #E6F0F6;
    --blue-200: #BFDAE9;
    --blue-300: #99C4DB;
    --blue-400: #4D97C1;
    --blue-500: #006BA6;
    --blue-600: #006095;
    --blue-700: #004064;
    --blue-800: #00304B;
    --blue-900: #002032;
    /*cyan*/
    --cyan-50: #F2FAFF;
    --cyan-100: #E6F5FF;
    --cyan-200: #C0E5FF;
    --cyan-300: #9BD5FF;
    --cyan-400: #4FB6FF;
    --cyan-500: #0496FF;
    --cyan-600: #0487E6;
    --cyan-700: #025A99;
    --cyan-800: #024473;
    --cyan-900: #012D4D;
    /* yellow */
    --yellow-50: #FFFCF6;
    --yellow-100: #FFF8EC;
    --yellow-200: #FFEED0;
    --yellow-300: #FFE4B3;
    --yellow-400: #FFD07B;
    --yellow-500: #FFBC42;
    /* pink */
    --pink-50: #FDF3F7;
    --pink-100: #FBE7EE;
    --pink-200: #F5C4D6;
    --pink-300: #EFA0BD;
    --pink-400: #E4588B;
    --pink-500: #D81159;
    --pink-600: #C20F50;
    --pink-700: #820A35;
    --pink-800: #610828;
    --pink-900: #41051B;
    /* purple */
    --purple-50: #F9F5F7;
    --purple-100: #F4EAEE;
    --purple-200: #E3CBD5;
    --purple-300: #D2ABBB;
    --purple-400: #B16C89;
    --purple-500: #8F2D56;
    --purple-600: #81294D;
    --purple-700: #561B34;
    --purple-800: #401427;
    --purple-900: #2B0E1A;
    /* orange */
    --orange-50: #FEF8F7;
    --orange-100: #FDF0EF;
    --orange-200: #FBDAD7;
    --orange-300: #F8C3BF;
    --orange-400: #F2978E;
    --orange-500: #ED6A5E;
    --orange-600: #D55F55;
    /* green */
    --green-50: #F6FDFB;
    --green-100: #EDFCF7;
    --green-200: #D2F7EC;
    --green-300: #B7F3E1;
    --green-400: #82E9CA;
    --green-500: #4CE0B3;
    --green-600: #44CAA1;
    --green-700: #2E866B;
    --green-800: #226551;
    --green-900: #174336;
    
}

body {
    color: var(--font-color);
    background-color: var(--bg-color-100);
    margin: 0;
    padding: 0;
}


.box-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(130,130,130,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(130,130,130,1);
    box-shadow: 0px 2px 5px 0px rgba(130,130,130,1);
}
